<div class="social">
  {% if site.github %}
    <a href="http://github.com/{{ site.github }}"><i class="fab fa-github-square"></i></a>
  {% endif %}

  {% if site.email %}
    <a href="mailto:{{ site.email}}"><i class="fas fa-envelope-square"></i></a>
  {% endif %}

  {% if site.twitter %}
    <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter-square"></i></a>
  {% endif %}

  {% if site.linkedin %}
    <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"></i></a>
  {% endif %}
</div>