// This is where you place Bootstrap's variable overrides

// Color system //

$white:     #FFFFFF !default;
$gray-100:  #F5F5F5 !default;
$gray-200:  #DCDCDC !default;
$gray-300:  #C0C0C0 !default;
$gray-400:  #A9A9A9 !default;
$gray-500:  #808080 !default;
$gray-600:  #686868 !default;
$gray-700:  #505050 !default;
$gray-800:  #383838 !default;
$gray-900:  #202020 !default;
$black:     #000000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$pink:      #A40080 !default;
$purple:    #550055 !default;
$blue:      #006080 !default;
$teal:      #008080 !default;
$pinker:    #4B003A !default;
$purpler:   #3C003C !default;
$bluer:     #001B24 !default;
$tealer:    #003838 !default;
$pinkish:   #FEF3FC !default;
$purplish:  #EBC6EB !default;
$bluish:    #7EDCFB !default;
$tealish:   #88D9D9 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "pink":         $pink,
    "purple":       $purple,
    "blue":         $blue,
    "teal":         $teal,
    "pinker":       $pinker,
    "purpler":      $purpler,
    "bluer":        $bluer,
    "tealer":       $tealer,
    "pinkish":      $pinkish,
    "purplish":     $purplish,
    "bluish":       $bluish,
    "tealish":      $tealish
  ),
  $colors
);

$primary:   $purple !default;
$secondary: $teal !default;
$light:     $pinkish !default;
$dark:      $bluer !default;
$muted:     #3FA9A9 !default;
$disabled:  $gray-400 !default;
$info:      #59CFF6 !default;
$success:   #11A973 !default;
$warning:   #FFE839 !default;
$danger:    #97004D !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark,
    "muted":      $muted,
    "disabled":   $disabled,
    "info":       $info,
    "success":    $success,
    "warning":    $warning,
    "danger":     $danger
  ),
  $theme-colors
);

// Options

// Quickly modify global styling by enabling or disabling optional features

$enable-shadows:                              true !default;
$enable-gradients:                            true !default;

// Body

// Settings for the `<body>` element

$body-bg:                   $white !default;
$body-color:                $bluer !default;

// Links

// Style anchor elements

$link-color:                              $pink !default;
$link-hover-color:                        $teal !default;
$link-hover-decoration:                   none !default;

// Components

// Define common padding and border radius sizes and more

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$border-radius:           .4rem !default;
$border-radius-lg:        .6rem !default;
$border-radius-sm:        .3rem !default;

// Typography

// `font`, `line-height`, and `color` for body text, headings, and more

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            "Source Sans Pro", "Lora", Arial, sans-serif !default;
$font-family-meta:            "Lora", "Times New Roman", Arial, serif;
// stylelint-enable value-keyword-case

$font-size-base:              1.6rem !default; // Assumes the browser default, typically `16px`

$font-weight-semi-bold:       600 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            2.2 !default;

$headings-font-family:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight:        $font-weight-normal !default;
$headings-line-height:        1 !default;

$text-muted:                  $muted !default;

$blockquote-small-color:      $muted !default;

// Tables

// Customizes the `.table` component with basic values, each used across all table variations

$table-border-color:          rgba(0,0,0,0.05) !default;

// Buttons + Forms

// Shared variables that are reassigned to `$input-` and `$btn-` specific variables

$input-btn-padding-y:         1.5rem !default;
$input-btn-padding-x:         2.5rem !default;
$input-btn-font-family:       $headings-font-family !default;
$input-btn-font-size:         1.4rem !default;

$input-btn-padding-y-sm:      0.75rem !default;
$input-btn-padding-x-sm:      2rem !default;
$input-btn-font-size-sm:      1.2rem !default;

$input-btn-padding-y-lg:      2.5rem !default;
$input-btn-padding-x-lg:      3.5rem !default;
$input-btn-font-size-lg:      1.6rem !default;

// Buttons

// For each of Bootstrap's buttons, define text, background, and border color

$btn-font-weight:             $font-weight-bold !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           0 !default;
$btn-border-radius-lg:        0 !default;
$btn-border-radius-sm:        0 !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Navs

$nav-link-padding-y:                2rem !default;
$nav-link-padding-x:                2rem !default;

$nav-tabs-border-color:             $blue !default;
$nav-tabs-link-hover-border-color:  $bluer $bluer $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $blue !default;
$nav-tabs-link-active-border-color: $blue $blue $nav-tabs-link-active-bg !default;

$nav-divider-color:                 $blue !default;

// Navbar

$navbar-padding-y:                  $spacer * 2 !default;
$navbar-padding-x:                  $spacer * 2 !default;

$navbar-nav-link-padding-x:         2rem !default;

$navbar-dark-color:                 rgba($teal, .5) !default;
$navbar-dark-hover-color:           rgba($teal, .75) !default;
$navbar-dark-active-color:          $teal !default;
$navbar-dark-disabled-color:        rgba($disabled, .25) !default;
$navbar-dark-toggler-border-color:  rgba($teal, .1) !default;

$navbar-light-color:                rgba($purpler, .5) !default;
$navbar-light-hover-color:          rgba($purpler, .7) !default;
$navbar-light-active-color:         rgba($purpler, .9) !default;
$navbar-light-disabled-color:       rgba($disabled, .3) !default;
$navbar-light-toggler-border-color: rgba($white, .1) !default;

// Dropdowns

// Dropdown menu container and contents

$dropdown-color:                    $pinker !default;
$dropdown-border-color:             rgba($tealer, .15) !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($bluer, .175) !default;

$dropdown-link-color:               $purpler !default;
$dropdown-link-hover-color:         darken($purpler, 5%) !default;
$dropdown-link-hover-bg:            $purplish !default;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           1.5rem !default;

$dropdown-header-color:             $gray-600 !default;

// Pagination

$pagination-padding-y:              1rem !default;
$pagination-padding-x:              0.5rem !default;
$pagination-padding-y-sm:           0.5rem !default;
$pagination-padding-x-sm:           0.25rem !default;
$pagination-padding-y-lg:           1.5rem !default;
$pagination-padding-x-lg:           0.75rem !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $blue !default;
$pagination-hover-border-color:     $blue !default;

// Breadcrumbs

$breadcrumb-bg:                     $purple !default;
$breadcrumb-divider-color:          $white !default;
$breadcrumb-active-color:           $breadcrumb-divider-color !default;

// Code

$code-color:                        $blue !default;

$kbd-bg:                            #EDF7F8 !default;

$pre-color:                         #EDF7F8 !default;